.container {
  padding: 1rem 1rem;
  min-height: 90vh;
  position: relative;
  overflow: hidden;
}

.main {
  height: 70vh;
}

.StartButton {
  min-width: 100%;
  min-height: 100%;
}

.SaveButton {
  margin-top: 5rem;
}

.Subtitle {
  margin-top: 1em;
  color: #fff;
  height: 4em;
}

.StopRetention {
  margin-top: 0;
  color: #fff;
  height: 4em;
  width: 90%;
  font-size: 2em;
}

.Result {
  height: 6em;
  position: relative;
  margin-top: 2em;
}

.Progress {
  width: 100%;
  height: 1.5em;
  position: relative;
  padding: 0;
  margin-bottom: 0.5em;
}

.MaxTime {
  width: 100%;
  height: 1.2em;
  background: rgba(11, 114, 133, 0.5);
  border-radius: 0.4em;
  position: absolute;
  top: 0.15em;
}
.AverTime {
  width: 50%;
  height: 1.5em;
  background: rgba(11, 114, 133, 0.7);
  border-radius: 0.4em;
  position: absolute;
}

.CountDown {
  font-size: 3em;
}

.colored {
  color: rgb(11, 114, 133);
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
